$white: #FFFFFF;
$black: #000000;
$blue: #4455BB;
$background: #F4F4F4;
$footer_text: #A1A1A1;
$footer_bg: #111111;
$button_text1: #2033A2;
$button_text2: #7584DB;
$button_text3:#BBBBBB;
$button_bg1: #4455BB;
$button_bg2: #4A5ECF;
$button_bg3: #7584DB;
$button_bg4: #A5B2F8;
$button_bg5: #FAFAFA;
$button_border1: #4455BB;
$button_border2: #7584DB;
$button_border3: #DDDDDD;