$royalBlue600: #475DDC;
$royalBlue500: #667CFA;
$royalBlue400: #8092FA;
$royalBlue300: #9EADFF;
$royalBlue200: #C2CAFA;
$royalBlue100: #E8EBFF;

$gray800: #222222;
$gray700: #3D3D3D;
$gray600: #636363;
$gray500: #969696;
$gray400: #C2C2C2;
$gray300: #DBDBDB;
$gray200: #EDEDED;
$gray100: #F7F7F7;
$white: #FFFFFF;

$error: #EE5244;

$transparent50: rgba(71, 93, 220, 0.05);
$transparent100: rgba(71, 93, 220, 0.1);
$transparent150: rgba(0, 0, 0, 0.15);
$transparent200: rgba(71, 93, 220, 0.2);