@import './_color.scss';
@import './Login.module.scss';

.boardContainer {
  position: absolute;
  top: 0;
  height: 100vh;
  padding: 140px 180px 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.backContainer {
  position: absolute;
  top: 96px;
  cursor: pointer;
}

.textContainer {
  width: 100%;
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 5%;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
}

.textBox {
  background-color: $white;
  height: 90%;
  width: 100%;
  flex-shrink: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  position: relative;
  color: $gray600;
  line-height: 3;
  border-radius: 12px;
  padding: 20px;
  overflow: auto;
}

.buttonContainer {
  text-align: center;
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-between;
}

.blankButton {
  visibility: hidden;
  width: 48%;
}

.acceptButton {
  padding: 22px 0;
  width: 48%;
  background-color: $royalBlue600;
  border-radius: 8px;
  color: $white;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.2px;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px $transparent200;
}

.editingButton {
  padding: 22px 0;
  width: 48%;
  background-color: $white;
  border-radius: 8px;
  box-sizing: border-box;
  border: 2px solid $royalBlue300;
  color: $royalBlue300;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.2px;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px $transparent100;
}

.completionButton {
  padding: 22px 0;
  width: 48%;
  background-color: $gray200;
  border-radius: 8px;
  color: $gray300;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: 1.2px;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px $transparent200;
}

.chatContainer {
  width: 36%;
  margin: 32px 0;
  background-color: #DDDDDD;
  overflow: hidden;
  border-radius: 12px;
}

// contentRequest - Phase 1.
.requestContainer {
  width: 100%;
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5%;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
}

.inputTitle {
  width: 100%;
  height: 56px;
  padding: 0px 32px;
  border: none;
  border-radius: 12px;
  color: $gray800;
  font-size: 20px;
  box-shadow: 0px 4px 16px 0px $transparent50;
}

.inputDescription {
  width: 100%;
  height: 130px;
  padding: 16px 32px;
  border: none;
  border-radius: 12px;
  color: $gray800;
  font-size: 20px;
  box-shadow: 0px 4px 16px 0px $transparent50;
  font-family: 'Noto Sans KR';
}

.guideText {
  color: $gray600;
  font-size: 16px;
  letter-spacing: 1.2px;
}

.nextButtonContainer {
  display: flex;
  justify-content: flex-end;
}

.adImageContainer {
  width: 20%;
}

.img3 {
  height: 756px;
  border-radius: 12px;
  background-color: #dddddd;
}

// contentRequest - Phase 2.
.inputContainer {
  height: 100%;
  margin-bottom: 3%;
}
.inputPost {
  width: 100%;
  height: 100%;
  padding: 16px 32px;
  border: none;
  border-radius: 12px;
  color: $gray800;
  font-size: 20px;
  box-shadow: 0px 4px 16px 0px $transparent50;
  font-family: 'Noto Sans KR';
}
