@import './_color.scss';

.container {
  background-color: $white;
  height: 100%;
  padding: 10px;
}

.bubbleContainer {
  height: 90%;
  padding: 10px 0;
  overflow: auto;
}

.inputContainer {
  height: 10%;
}

.chatInput {
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  color: $gray700;
  background-color: $gray100;
  padding: 30px 27px 0 27px;
  font-family: 'Noto Sans KR';
}

.chatInput:focus {outline:none;}

.messageContainer {
  width: 100%;
  display: flex;
  padding-bottom: 28px;

  &My {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 28px;
  }
}
.messageBox {
  display: flex;
  width: 60%;
  padding: 16px 20px 20px 24px;
  background-color: $gray100;
  color: $gray600;
  border-radius: 20px;
  
  &My {
    display: flex;
    width: 60%;
    padding: 16px 20px 20px 24px;
    background-color: $transparent50;
    color: $gray600;
    border-radius: 20px;
  }
}

.messageTimestamp {
  display: flex;
  align-items: flex-end;
  height: 48px;
  padding: 16px 20px 0 20px; 
  color: $gray400;
}