.container {
  background-color: #ffffff;
  height: 100%;
  padding: 10px;
}

.bubbleContainer {
  height: 90%;
  padding: 10px 0;
}

.inputContainer {
  height: 10%;
}

.chatInput {
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  color: #333333;
  padding: 30px 27px 0 27px;
}

.chatInput:focus {outline:none;}

.messageContainer {
  width: 100%;
  display: flex;
  padding-bottom: 28px;

  &My {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-bottom: 28px;
  }
}
.messageBox {
  display: flex;
  width: 60%;
  padding: 16px 20px 20px 24px;
  background-color: #EDEDED;
  border-radius: 20px;
  
  &My {
    display: flex;
    width: 60%;
    padding: 16px 20px 20px 24px;
    background-color: #8291E3;
    color: #FFFFFF;
    border-radius: 20px;
  }
}

.messageTimestamp {
  display: flex;
  align-items: flex-end;
  height: 48px;
  padding: 16px 20px 0 20px; 
}