@import './_variables.scss';
@import './color.scss';
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans KR', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: $gray100;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}