@import './_variables.scss';
@import './color.scss';

.container {
  padding-top: $nav-height;
}

.editingList {
  padding: 120px 180px;
  height: 100%;
}

.editingListContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  height: 90%;
  overflow: auto;
}

.editingListContainer::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.editingCard {
  box-sizing: border-box;
  width: 44%;
  height: 216px;
  padding: 28px 32px;
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
  background-color: $white;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px $transparent50;
}

.editingCardIsMineText {
  color: $error;
  font-size: 16px;
  font-weight: bold;
}

.editingCardCompleteText {
  color: $royalBlue500;
  font-size: 16px;
  font-weight: bold;
}

.editingCardTitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.editingCardTitle {
  color: $gray800;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}

.editingCardDescription {
  color: $gray600;
  font-size: 16px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  word-break: break-word;
  overflow: hidden;
}

.editingListTitle {
  color: $gray700;
  font-size: 28px;
  font-weight: bold;
  padding: 32px 0;
  letter-spacing: 1.2px;
}

.loadingText {
  width: 100%;
  color: $royalBlue400;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 60px;
}

.homeContainer {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.videoSection {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.videoContainer {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  .introduction {
    position: absolute;
    top: 30%;
    left: 10%;
  }

  .mainText {
    color: white;
    font-size: 64px;
    font-weight: bold;
    margin: 10px 0px;
  }

  .description {
    color: white;
    font-weight: 200;
    margin: 30px 0px;
  }

  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.scrollSnap {
  height: 100vh;
  scroll-snap-align: start;
}

.scrollSnapEnd {
  scroll-snap-align: end;
  width: 100%;
  // transform: translateY(100%);
  position: relative;
  bottom: 0;
  left: 0;
}

.AdImageContainer { 
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
}