@import './color.scss';

.default {
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 180px 0px 180px;
  opacity: 1;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  z-index: 2;
  background-color: $white;
  box-shadow: 0px 2px 32px 0px $transparent100;
}

.transparent {
  position: fixed;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 180px 0px 180px;
  opacity: 1;
  overflow: hidden;
  align-content: center;
  flex-wrap: nowrap;
  z-index: 2;
  box-shadow: 0px 4px 32px 0px $transparent150;
}

.logo {
  flex-shrink: 0;
  width: 116px;
  height: 56px;
  overflow: visible;
  position: relative;
}

.links {
  flex-shrink: 0;
  width: 392px;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: visible;
  position: relative;
  padding: 0px 0px 0px 0px;
  align-content: center;
  flex-wrap: nowrap;
  gap: 40px;
}

.buttonTransparent {
  box-sizing: border-box;
  width: 200px;
  height: 44px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  padding: 12px 56px;
  cursor: pointer;
  background-color: $transparent150;
  color: $white;
}

.button {
  box-sizing: border-box;
  width: 200px;
  height: 44px;
  color: $royalBlue500;
  font-size: 20px;
  font-weight: bold;
  background-color: $royalBlue100;
  border-radius: 8px;
  border: none;
  padding: 12px 56px;
  cursor: pointer;
}

.icon {
  cursor: pointer;
}

.dropdown {
  position: fixed;
  top: 80px;
  right: 90px;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 16px 0px $transparent200;
  background-color: $white;
  align-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  border-radius: 0px 0px 16px 16px;
  z-index: 1;
}

.messageContainer {
  width: 480px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding: 24px 40px;
}

.messageInfo {
  color: $gray500;
  font-size: 16px;
}

.messageContent {
  color: $royalBlue500;
  font-size: 20px;
  letter-spacing: 1.2px;
}