@import './color.scss';
@import './Home.module.scss';

.container {
  display: flex;
  flex-direction: row;
  margin: 200px 180px 0 200px;
  padding: 0px;
  gap: 120px;
  height: 100vh;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.logoutBtn {
  color: $gray500;
  font-size: 16px;
  cursor: pointer;
}

.menu {
  box-sizing: border-box;
  width: min-content;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: $white;
  overflow: auto;
  align-content: center;
  flex-wrap: nowrap;
  gap: 40px;
  border-radius: 12px;
  box-shadow: 0px 2px 12px 0px $transparent50;

  .button_deSelected {
    box-sizing: border-box;
    width: 200px;
    height: 52px;
    color: $gray300;
    font-size: 20px;
    letter-spacing: 1.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray100;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  .button_selected {
    width: 200px;
    height: 52px;
    color: $white;
    font-size: 20px;
    letter-spacing: 1.2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $royalBlue600;
    align-content: center;
    flex-wrap: nowrap;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
}

.content {
  background-color: none;
}

.editingListContainer {
  height: 40rem;
}

.editingCard {
  width: 600px;
}

.title {
  color: $gray700;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-bottom: 72px;
}

.accountContainer {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: 80px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.subTitle {
  color: $gray800;
  font-size: 20px;
  font-weight: bold;
}

.sign {
  width: 440px;
  height: 56px;
  padding: 0px 32px 0px 32px;
  border: none;
  border-radius: 12px;
  color: $gray600;
  font-size: 20px;
  box-shadow: 0px 4px 16px 0px $transparent50;

  &:disabled {
    background-color: $gray200;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 60px;
}

.editBtn {
  color: $gray500;
  font-size: 20px;
  cursor: pointer;
}

.saveBtn {
  color: $royalBlue500;
  font-size: 20px;
  cursor: pointer;
}

.listContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 80px;
}

.rightBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-shadow: 0px 4px 8px 0px $transparent50;
  background-color: $white;
  border-radius: 8px;
  cursor: pointer;
}

.nullText {
  color: $royalBlue600;
  font-size: 20px;
  letter-spacing: 1.2px;
}